name: CI Demo Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo code
        uses: actions/checkout@v4

      - name: Print Status
        run: echo "GitHub Actions working!"

      - name: List Files Step
        run: ls -R
